@import url('https://fonts.googleapis.com/css2?family-Play:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	color: #000000;
	font-family: 'Play', sans-serif;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #35e316;
}

.start {
	font-size: 1.5rem;
}

h1 {
	line-height: 1.4rem;
	font-size: 4rem;
}

.screen {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	background: linear-gradient(90deg,#29323c 0%, #485563 100%);
	transition: margin .5s ease-out;
}

.screen.up {
	margin-top: -100vh;
}

.time-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}

.time-list li {
	margin: 10px;
}

.time-button {
	background-color: transparent;
	padding: 0.5rem 1rem;
	border: 2px solid #c0c0c0;
	border-radius: 20px;
	font-size: 1.5rem;
	color: #fff;
	cursor: pointer;
	font-family: 'Play', sans-serif;
}

.time-button:hover {
	color: #35e316;
	border: 2px #35e316;
}

.board {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 1000px;
	height: 1000px;
	background: linear-gradient(120deg, #29323c -5%, #485563 200%);
	border-radius: 30px;
	overflow: hidden;
	box-shadow: -8px -8px 20px #2a333d, 10px 7px 20px #475462;
}

.circle {
	position: absolute;
	border-radius: 50px;
	cursor: pointer;
	background: linear-gradient(90deg, #35e316 0%, #1b9106 47%, #58e058 100%);
}

.hide {
	opacity: 0;
}

.primary {
	color: #35e316;
}